<div>
  <div class="flex-row" style="padding: 30px;">
    <img style="width: 150px; height: 150px" src="./images/sun.png" />
    <div class="heading">
      <div>Your Monthly Usage Report!</div>
      <div>See how you used energy over the past month!</div>
    </div>
  </div>

  <div class="flex-row" style="font-size: 18px">
    <div class="day">Best Day:</div>
    <div class="dayWatt">{{best}} kWh</div>
  </div>
  <div class="flex-row" style="font-size: 18px">
    <div class="day">Worst Day:</div>
    <div class="dayWatt">{{worst}} kWh</div>
  </div>

  <ul class="flex-row">
    <li class="flex-child">
      <div class="number">{{weekday}}</div>
      <div class="desc">Weekday Avg (kWh)</div>
    </li>
    <li class="flex-child">
      <div class="number month">{{month}}</div>
      <div class="desc">Month Total (kWh)</div>
    </li>
    <li class="flex-child last">
      <div class="number">{{weekend}}</div>
      <div class="desc">Weekend Avg (kWh)</div>
    </li>
  </ul>

  <div class="flex-row">
    <div class="flex-child dataChart">
      <canvas id="bar" height="60" width="100" class="chart chart-bar" chart-data="dayStats" chart-labels="labels" chart-options="options"  chart-colors="colors" chart-dataset-override="override">
    </div>
  </div>
</div>